{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>The Math Maze!</title>
</head>

<style>
    #maze img{
        display: grid;
        justify-items: center;
        height: 45em;
    }
</style>

<body>
    <div id="maze">
        <button class="answer"></button>
        <button class="answer"></button>
        <button class="answer"></button>
        <button class="answer"></button>
        <button class="answer"></button>
        <button class="answer"></button>
        <button class="answer"></button>
        <img src="{% static 'FirstMaze.png' %}">
    </div>
</body>

<script>

</script>

</html>